@charset "UTF-8";

/*Global open*/
.hidden{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic;
}

/*Fonts*/
@font-face {
font-family: 'lustriaregular';
src: url('../fonts/lustria-regular-webfont.eot');
src: url('../fonts/lustria-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lustria-regular-webfont.woff') format('woff'),
url('../fonts/lustria-regular-webfont.ttf') format('truetype'),
url('../fonts/lustria-regular-webfont.svg#lustriaregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'latoregular';
src: url('../fonts/lato-regular-webfont.eot');
src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-regular-webfont.woff') format('woff'),
url('../fonts/lato-regular-webfont.ttf') format('truetype'),
url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
font-weight: normal;
font-style: normal;
}

body{
	font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background-color: #E9E9E9 ;
	margin: 0;
	padding: 0;
}

a{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

h2, h3, h4, h5{
	font-family: 'lustriaregular', Times, "Times New Roman", serif;
}

main{
  margin: 0px auto;
  max-width: 1200px;
  background-color: #FDFDFD;
}


/*Global close*/
/*Main Nav Open*/

.mainNav {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  max-width: 1200px;
  background-color: #64abcd;
  justify-content: space-around;
  padding: 0px, 16px, 0px, 16px;
}

.navoptions{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  transition: padding-top 0.8s ease-in;
}

.leaf-logo{
	display: flex;
	flex-direction: row;
}

.leaf-logo img{
	max-width: 5em;
}


.titleLogo h3, h4{
  color: #fff;
  margin: 10px;
  text-align: center;
}

.titleLogo h3{
  font-size: 1em;
}

.titleLogo h4{
  font-size: 1.5em;
}

.navoptions li a{
  color: #fff;
  margin: 10px;
	padding-top: 5px;
	font-size: 15px;
}

.navoptions li a:hover{
	text-shadow: 0.1em 0.1em #3a6580;
	font-weight: bold;
}

.active{
	background-color: #3a6580;
}



/*Main Nav close*/
/*Home Header open*/

.headerLogo{
  background-image: url(../images/woodtex.png);
	background-size: 100% 100%;
  margin: 0px auto;
}


.headerLogo img{
  margin: 0px auto;
  max-width: 1200px;
  max-height: 400px;
  padding: 20px;
  transition-timing-function: ease-in;
  /* Quick on the way out */
  transition: 1.3s;
  transform: scale(1.02,1.02);
}

.headerLogo img:hover{
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 1.3s;
  transform: scale(1.02,1.02);
}

/*Home Header close*/
/*Home page open*/

.homeCont{
	display:flex;
	flex-direction: row;
	max-width: 1200px;
	margin:auto;

}

.homeAdvert{
	padding: 90px 10px 90px 10px;
	max-width: 20em;
}
.homeAdvert img{
	max-width: 20em;
}

.pageDes{
	display:flex;
	flex-direction: column;
}

.inforow{
	display: flex;
	flex-direction: row;
	padding: 15px;
	margin: auto;
}

.infobar a {
	text-decoration: none;
	color: white;
	margin: auto;
	font-size: 23px;
}

.infobar a:hover {
	text-shadow: 0.1em 0.1em #3a6580;
	font-weight: bold;
}

.infobar h4{
	margin:auto;
}

.infobar{
	display:flex;
	flex-direction: row;
	padding: 5px, 20px, 5px, 20px;
	text-align: center;
	background-color: #64abcd;
}

.infoboxbar{
	display:flex;
	flex-direction: column;
	margin: auto;
	padding: 40px;
}

.info p{
	padding: 80px 20px 80px 20px;
	font: 20px;
	line-height: 25px;
	color: black;
}

.info1{
	width: 300px;
	height: 300px;
	font-size: 0px;
	background-image: url(../images/home_story.png);
	background-size: cover;
}

.info1:hover{
	font-size: 23px;
	width: 300px;
	height: 300px;
	padding:40px;
	background-image: url(../images/fade_story.png);
	background-size: cover;
}

.info2{
	width: 300px;
	height: 300px;
	font-size: 0px;
	background-image: url(../images/home_beer.png);
	background-size: cover;
}

.info2:hover{
	font-size: 23px;
	width: 300px;
	height: 300px;
	padding:40px;
	background-image: url(../images/fade_beer.png);
	background-size: cover;
}

.info3{
	width: 300px;
	height: 300px;
	font-size: 0px;
	background-image: url(../images/home_secret.png);
	background-size: cover;
}

.info3:hover{
	font-size: 20px;
	width: 300px;
	height: 300px;
	padding:40px;
	background-image: url(../images/fade_secret.png);
	background-size: cover;
}

.info4{
	width: 300px;
	height: 300px;
	font-size: 0px;
	background-image: url(../images/home_order.png);
	background-size: cover;
}

.info4:hover{
	font-size: 23px;
	width: 300px;
	height: 300px;
	padding:40px;
	background-image: url(../images/fade_order.png);
	background-size: cover;
}


/*Mobile Media Query*/

/*@media screen and (min-width:480px) {
	body{
		width: auto;
		font-size: 8px;
	}

	.homeCont{
		display:flex;
		flex-direction: row;
		max-width: 480px;
		margin:auto;
	}

	.homeAdvert{
		Display: none;
	}

	.pageDes{
		display:flex;
		flex-direction: column;
	}

	.inforow{
		display: flex;
		flex-direction: row;
		margin: auto;
	}

	.infobar a {
		text-decoration: none;
		color: white;
		margin: auto;
		font-size: 2em;
	}

	.infobar a:hover {
		text-shadow: 0.1em 0.1em #3a6580;
		font-weight: bold;
	}

	.infobar{
		display:flex;
		flex-direction: row;
		text-align: center;
		background-color: #64abcd;
	}

	.infoboxbar{
		display:flex;
		flex-direction: column;
		margin: auto;
	}

	.info p{
		padding: 2em 1em 2em 1em;
		font: 1em;
		line-height: 1.2me;
		color: black;
	}

	.info1{
		width: 150px;
		height: 150px;
		font-size: 0em;
		background-image: url(../images/home_story.png);
		background-size: cover;
	}

	.info1:hover{
		font-size: 1.2em;
		width: 150px;
		height: 150px;
		padding:3em;
		background-image: url(../images/fade_story.png);
		background-size: cover;
	}

	.info2{
		width: 150px;
		height: 150px;
		font-size: 0em;
		background-image: url(../images/home_beer.png);
		background-size: cover;
	}

	.info2:hover{
		font-size: 1.2em;
		width: 150px;
		height: 150px;
		padding: 3em;
		background-image: url(../images/fade_beer.png);
		background-size: cover;
	}

	.info3{
		width: 150px;
		height: 150px;
		font-size: 0em;
		background-image: url(../images/home_secret.png);
		background-size: cover;
	}

	.info3:hover{
		font-size: 1.2em;
		width: 150px;
		height: 150px;
		padding: 3em;
		background-image: url(../images/fade_secret.png);
		background-size: cover;
	}

	.info4{
		width: 150px;
		height: 150px;
		font-size: 0em;
		background-image: url(../images/home_order.png);
		background-size: cover;
	}

	.info4:hover{
		font-size: 1.2em;
		width: 150px;
		height: 150px;
		padding: 2em;
		background-image: url(../images/fade_order.png);
		background-size: cover;
	}


}*/
/*media query not working*/
/*Home page close*/

/*Our Story Page Open*/

#storyvideo{
	max-width: 40em;
	max-height: 40em;
	margin: auto;
	padding: 22px 0px 22px 0px;
}

#storyinfo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 500px;
	margin: auto;
}

.storyinforow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 500px;
}

.storyinforow img{
	max-width: 15em;
}

.storyinforow p{
	max-width: 50%;
	padding: 1em;
	margin: auto;
	line-height: 1.1em;
}
/*Our Story Page Close*/

/*The Beer Open*/

#beercolumn{
	max-width: 50em;
	margin: auto;
	padding-top: 5em;
	padding-bottom: 5em;
}

.beerrow{
	display: flex;
	flex-direction: row;
	margin: 4em;
}

.beerrow img{
	max-width: 25em;
	max-height: 28em;
}

.beercopy{
	margin: auto;
	padding-top: 5em;
	padding-bottom: 5em;
}

.beercopy p{
	color:#3a6580;
	font-size: 1em;
	line-height: 1.3em;
}

.beercopy h4{
	color: #64abcd;
	font-size: 2.5em;
	text-align: left;
}

#beeradds{
	display: flex;
	flex-direction: row;
	max-width: 50em;
	margin: auto;
}

#beeradds img{
	margin: 10px;
	max-width: 25em;
}
/*The Beer Close*/

/*The Secret open*/

#secretheader{
	display: flex;
	flex-direction: row;
	max-width: 55em;
	margin:auto;
	padding-top: 2em;
}

#secretheader img{
	max-width: 30em;
}

#secretheader h4{
	color: #64abcd;
	font-size: 1.7em;
	text-align: left;
	margin: auto;
	padding-left: 1.9em;
}

.quoterow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 55em;
	margin: auto;
	padding-top: 2em;
	padding-bottom: 2em;
}

.quoterow img{
	max-height: 10em;
}

#quotecopy h4{
	font-size: 1.7em;
	color: black;
	text-align: center;
}
#quotecopy h5{
	font-size: 2em;
	color: #64abcd;
	text-align: center;
}
#quotecopy p{
	font-size: 1em;
	text-align: right;
}

#articlecon{
	display: flex;
	flex-direction: row;
	max-width: 55em;
	margin: auto;
}

.secretcolumn{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 margin: auto;
 max-width: 18em;
}

.secretcolumn h4{
	color:#64abcd;
	font-size: 2.3em;
}

.secretcolumn p{
	font-size: 1em;
	line-height: 1.3em;
}

.tallbeer img{
	max-width: 100em;
}

.modal{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}

.modal.active{
	transform: translate(-50%, -50%) scale(1);
}

.modal-header{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header title{
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button{
	cursor: pointer;
	border: none;
	outine: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body{
	padding: 10px 15px;
}

#overlay{
	position: fixed;
	opactiy: 0;
	transition: 200ms eas-in-out;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rbga(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active{
	opacity: 1;
	pointer-events:all;
}


/*The Secret close*/

/*Contact open*/

#contactcon{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	max-width: 55em;
	background-color: #3a6580;
}

#contactinfocol{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	max-width: 16em;
	background-color: #3a6580;
	padding: 1em;
}

#contactinfocol h4{
	color:#64abcd;
	padding-top: 1em;
	font-size: 1.7em;
	text-align: left;
}

#contactinfocol p{
	color: white;
	font-size: 1.1em;
	line-height: 1.4em;
	text-align: left;
}

.contactcopy{
	max-width: 39em;
	background-color: #3a6580;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 4em;
}

.contactcopy h4{
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	color: #64abcd;

}

.contactcopy p{
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	color: white;
	line-height: 1.3em;
}


.formline {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20em;
	margin: auto;
}

/*Contact open*/

/*Footer open*/

footer{
	background-color: #64abcd;
}

.sbcrow{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 14px;
}

.sbcrow img{
	max-width: 20em;
	max-height: 20em;
	padding: 1em;
}

.coninfo{
	display:flex;
	flex-direction: column;
	margin: 40px 10px 0px 10px;
	font-size: 20px;
	line-height: 1.4em;
}

.coninfo h3{
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-bottom: 0.7em;
}
.coninfo p{
	color:white;
	font-size: 15px;
}

.lysolrow{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	font-size: 14px;
	max-width: 1200px;
}

.lysol-logo-text{
	display:flex;
	flex-direction: row;
}

.lysol-logo-text img{
	max-width: 10em;
	max-height: 10em;
	padding-right: 1em;

}

.lysolcopy {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 3em;
	margin: auto;
}

.lysol-logo-text p {
	display: flex;
	flex-direction: column;
}

.socials{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 3em;
}

.socials img{
	max-width: 60px;
}


/*Footer close*/
